huggingface_hub==0.22.2
transformers~=4.40.2
gradio~=4.38.1
google-api-python-client~=2.137.0
thread6
sentence-transformers
pyvis~=0.3.2
community~=1.0.0b1
python-louvain~=0.16
plotly==5.22.0
networkx~=3.3
pandas~=2.2.2
matplotlib~=3.9.1
numpy~=2.0.0
python-dotenv~=1.0.1